.btnLogin {
    background: #fff !important;
    margin-bottom: 2rem;
}

.registrationHeader {
    padding:1.5rem;
    width: 20rem;
    margin: -3rem auto 0;
    z-index: 99;
    background-color: #ffffff;
}
