body {
  margin: 0;
  overflow-x: hidden;
  font-family: customFont !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: customFont;  
  src: url(../public/fonts/Raleway-Regular.ttf);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
